Node-RED.json
[
  {
    "id": "ab483484bd5d3c3d",
    "type": "tab",
    "label": "Fluxo 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "88e939a9b2f92199",
    "type": "mqtt in",
    "z": "ab483484bd5d3c3d",
    "name": "Turbidez1",
    "topic": "g3mack/Turbidez1",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "f6f4970fe311830d",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 80,
    "wires": [["71d0b2231858815f", "562daaf46c2dfa40"]]
  },
  {
    "id": "562daaf46c2dfa40",
    "type": "debug",
    "z": "ab483484bd5d3c3d",
    "name": "debug_turbidez1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 390,
    "y": 180,
    "wires": []
  },
  {
    "id": "71d0b2231858815f",
    "type": "influxdb out",
    "z": "ab483484bd5d3c3d",
    "influxdb": "b9d5b991e3ed80cc",
    "name": "Influx_turbidez1",
    "measurement": "Turbidez",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "Staging",
    "bucket": "bucket_sensor1",
    "x": 440,
    "y": 120,
    "wires": []
  },
  {
    "id": "d4bb0d19a4dde81d",
    "type": "mqtt in",
    "z": "ab483484bd5d3c3d",
    "name": "pH1",
    "topic": "g3mack/pH1",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "f6f4970fe311830d",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 110,
    "y": 200,
    "wires": [["55399d73306ab56e", "2821b4f80431889e"]]
  },
  {
    "id": "55399d73306ab56e",
    "type": "debug",
    "z": "ab483484bd5d3c3d",
    "name": "debug_pH1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 270,
    "y": 320,
    "wires": []
  },
  {
    "id": "2821b4f80431889e",
    "type": "influxdb out",
    "z": "ab483484bd5d3c3d",
    "influxdb": "b9d5b991e3ed80cc",
    "name": "Influx_turbidez1",
    "measurement": "pH",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "Staging",
    "bucket": "bucket_sensor1",
    "x": 360,
    "y": 260,
    "wires": []
  },
  {
    "id": "a4fd55fa3aa62d52",
    "type": "mqtt in",
    "z": "ab483484bd5d3c3d",
    "name": "Turbidez2",
    "topic": "g3mack/Turbidez2",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "f6f4970fe311830d",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 100,
    "y": 420,
    "wires": [["52b205ae87cc9009", "7c62c694d766b470"]]
  },
  {
    "id": "52b205ae87cc9009",
    "type": "influxdb out",
    "z": "ab483484bd5d3c3d",
    "influxdb": "b9d5b991e3ed80cc",
    "name": "Influx_turbidez2",
    "measurement": "Turbidez",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "Staging",
    "bucket": "bucket_sensor2",
    "x": 320,
    "y": 440,
    "wires": []
  },
  {
    "id": "7c62c694d766b470",
    "type": "debug",
    "z": "ab483484bd5d3c3d",
    "name": "debug_turbidez2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 540,
    "wires": []
  },
  {
    "id": "7885a347b87ac9ba",
    "type": "mqtt in",
    "z": "ab483484bd5d3c3d",
    "name": "pH2",
    "topic": "g3mack/pH2",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "f6f4970fe311830d",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 90,
    "y": 620,
    "wires": [["d24e9da001be83e3", "d4d4ecf3742aed71"]]
  },
  {
    "id": "d24e9da001be83e3",
    "type": "influxdb out",
    "z": "ab483484bd5d3c3d",
    "influxdb": "b9d5b991e3ed80cc",
    "name": "Influx_turbidez2",
    "measurement": "pH",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "Staging",
    "bucket": "bucket_sensor2",
    "x": 300,
    "y": 620,
    "wires": []
  },
  {
    "id": "d4d4ecf3742aed71",
    "type": "debug",
    "z": "ab483484bd5d3c3d",
    "name": "debug_pH2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 310,
    "y": 680,
    "wires": []
  },
  {
    "id": "58a0d5970a7a481b",
    "type": "mqtt in",
    "z": "ab483484bd5d3c3d",
    "name": "Qualidade1",
    "topic": "g3mack/Qualidade1",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "f6f4970fe311830d",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 650,
    "y": 140,
    "wires": [["d7e6deb4038b7e0a"]]
  },
  {
    "id": "d7e6deb4038b7e0a",
    "type": "function",
    "z": "ab483484bd5d3c3d",
    "name": "Verifica Qualidade Agua",
    "func": "if (msg.payload === \"Ruim\") {\n    msg.payload = \"Qualidade da água ruim no Sensor 1\";  // Modifica o texto da mensagem\n    return msg;\n}\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 280,
    "wires": [["19baa4510ad11d7e"]]
  },
  {
    "id": "19baa4510ad11d7e",
    "type": "node-red-contrib-whatsapp-cmb-send-message",
    "z": "ab483484bd5d3c3d",
    "name": "",
    "credtype": "account",
    "account": "0d5a3fa8e507f07e",
    "text": "payload",
    "phonenumbervalue": "",
    "apikeyvalue": "",
    "apikeyinputtypemessage": "msg",
    "phonenumberinputtypemessage": "msg",
    "inputtypemessage": "msg",
    "rejectssl": false,
    "x": 680,
    "y": 360,
    "wires": [["12649d9b9b4f693d"]]
  },
  {
    "id": "12649d9b9b4f693d",
    "type": "debug",
    "z": "ab483484bd5d3c3d",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 440,
    "wires": []
  },
  {
    "id": "37203a85fef0662c",
    "type": "mqtt in",
    "z": "ab483484bd5d3c3d",
    "name": "Qualidade2",
    "topic": "g3mack/Qualidade2",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "f6f4970fe311830d",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 630,
    "y": 520,
    "wires": [["0de9eda81f043d5e"]]
  },
  {
    "id": "0de9eda81f043d5e",
    "type": "function",
    "z": "ab483484bd5d3c3d",
    "name": "Verifica Qualidade Agua",
    "func": "if (msg.payload === \"Ruim\") {\n    msg.payload = \"Qualidade da água ruim no Sensor 2\";  // Modifica o texto da mensagem\n    return msg;\n}\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 660,
    "wires": [["caf74e131cce59ca"]]
  },
  {
    "id": "caf74e131cce59ca",
    "type": "node-red-contrib-whatsapp-cmb-send-message",
    "z": "ab483484bd5d3c3d",
    "name": "",
    "credtype": "account",
    "account": "0d5a3fa8e507f07e",
    "text": "payload",
    "phonenumbervalue": "",
    "apikeyvalue": "",
    "apikeyinputtypemessage": "msg",
    "phonenumberinputtypemessage": "msg",
    "inputtypemessage": "msg",
    "rejectssl": false,
    "x": 660,
    "y": 740,
    "wires": [["6632d189e614bb3a"]]
  },
  {
    "id": "6632d189e614bb3a",
    "type": "debug",
    "z": "ab483484bd5d3c3d",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 820,
    "wires": []
  },
  {
    "id": "f6f4970fe311830d",
    "type": "mqtt-broker",
    "name": "",
    "broker": "test.mosquitto.org",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "b9d5b991e3ed80cc",
    "type": "influxdb",
    "hostname": "127.0.0.1",
    "port": "8086",
    "protocol": "http",
    "database": "database",
    "name": "",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "https://us-east-1-1.aws.cloud2.influxdata.com",
    "timeout": "10",
    "rejectUnauthorized": false
  },
  {
    "id": "0d5a3fa8e507f07e",
    "type": "node-red-contrib-whatsapp-cmb-account",
    "name": "Zap"
  }
]
